$mobile-breakpoint : 375px;
$desktop-breakpoint : 1440px;


$clr-primary-marine-blue: hsl(213, 96%, 18%);
$clr-primary-purplish-blue: hsl(243, 100%, 62%);
$clr-primary-pastel-blue: hsl(228, 100%, 84%);
$clr-primary-lightblue: hsl(206, 94%, 87%);
$clr-primary-strawberry-red: hsl(354, 84%, 57%);

$clr-secondary-cool-gray: hsl(231, 11%, 63%);
$clr-secondary-light-gray: hsl(229, 24%, 87%);
$clr-secondary-magnolia: hsl(217, 100%, 97%);
$clr-secondary-alabaster: hsl(231, 100%, 99%);
$clr-secondary-white: hsl(0, 0%, 100%);

$fs-paragraph : 16px;

$fw-400 : 400;
$fw-500 : 500;
$fw-700 : 700;

