.step-3 .add-on, .plan {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid hsl(231deg, 11%, 63%);
  min-height: 80px;
  border-radius: 7px;
  padding-left: 70px;
  padding-block: 0.7rem;
  margin-bottom: 0.7rem;
}
.step-3 .add-on:hover, .plan:hover {
  cursor: pointer;
  border: 1px solid hsl(243deg, 100%, 62%);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ubuntu400;
  src: url("../../assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: ubuntu500;
  src: url("../../assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: ubuntu700;
  src: url("../../assets/fonts/Ubuntu-Bold.ttf");
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: ubuntu500, sans-serif;
  background-color: hsl(217deg, 100%, 97%);
}

nav {
  display: flex;
  justify-content: space-around;
  height: 25vh;
  padding: 2rem 5rem;
  background-color: hsl(228deg, 100%, 84%);
  background-image: url("../../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-step span {
  display: none;
}

.nav-step div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  padding: 0.3rem;
  border: solid 1.5px hsl(217deg, 100%, 97%);
  border-radius: 50%;
  color: hsl(217deg, 100%, 97%);
  font-weight: 700;
  font-size: 0.8rem;
}

.nav-step .current-step {
  background-color: hsl(217deg, 100%, 97%);
  color: hsl(213deg, 96%, 18%);
}

.step-1 {
  display: flex;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7rem;
}

section {
  position: absolute;
  bottom: 90px;
  left: 50vw;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  height: 70vh;
  padding: 2rem 1.5rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1rem;
}

section h2 {
  font-size: 1.2rem;
  color: hsl(213deg, 96%, 18%);
  margin-bottom: 1rem;
}

section h3 {
  font-size: 0.8rem;
  color: hsl(213deg, 96%, 18%);
  margin-bottom: 0.3rem;
}

section p {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  color: hsl(231deg, 11%, 63%);
}

.p-intro {
  font-size: 0.8rem;
}

section label {
  font-size: 0.7rem;
  color: hsl(213deg, 96%, 18%);
}

section input {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin: 0.1rem 0 0 0;
  border-radius: 5px;
  border: solid 1px hsl(229deg, 24%, 87%);
}
section input::-moz-placeholder {
  font-weight: 500;
  color: hsl(231deg, 11%, 63%);
}
section input:-ms-input-placeholder {
  font-weight: 500;
  color: hsl(231deg, 11%, 63%);
}
section input::placeholder {
  font-weight: 500;
  color: hsl(231deg, 11%, 63%);
}

.required {
  border: solid 1px hsl(354deg, 84%, 57%) !important;
}

.input-group:not(:last-child) input {
  margin-bottom: 0.9rem;
}

.step-1 .flex-space-between {
  padding-bottom: 0;
}
.step-1 .flex-space-between p {
  display: none;
  color: hsl(354deg, 84%, 57%);
  font-weight: 700;
  margin-bottom: 0;
}

.selected-plan {
  border: 1px solid hsl(243deg, 100%, 62%);
  background-color: hsl(217deg, 100%, 97%);
}

.plan img {
  position: absolute;
  top: 13px;
  left: 35px;
  transform: translateX(-50%);
}

.plan-content-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.plan .discount {
  color: hsl(213deg, 96%, 18%);
}

.toggle-recurrence-container {
  position: relative;
  min-height: 40px;
  border-radius: 5px;
  background-color: hsl(217deg, 100%, 97%);
}

.monthly-plans, .yearly-plans {
  font-weight: 700;
  font-size: 0.8rem;
  position: absolute;
  top: 20px;
  width: 50px;
  transform: translateY(-50%);
}

.monthly-plans {
  left: 3rem;
}

.yearly-plans {
  right: 3rem;
}

.toggled {
  color: hsl(213deg, 96%, 18%);
}

.toggle-recurrence-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 50%;
  top: 20px;
  transform: translate(50%, -50%);
  width: 30px;
  height: 17px;
  padding: 0 2px;
  background-color: hsl(213deg, 96%, 18%);
  border-radius: 50px;
}
.toggle-recurrence-btn:hover {
  cursor: pointer;
}

.toggle-btn-circle {
  width: 13px;
  height: 13px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
}

.step-3 .add-on {
  min-height: 70px;
  padding-left: 50px;
}
.step-3 .add-on p {
  margin: 0;
}

.step-3 .check-box {
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  border: 1px solid hsl(231deg, 11%, 63%);
  border-radius: 3px;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
}
.step-3 .check-box img {
  transform: translate(20%, -25%);
}

.step-3 .selected-add-on {
  border: 1px solid hsl(243deg, 100%, 62%);
  background-color: hsl(217deg, 100%, 97%);
}
.step-3 .selected-add-on .check-box {
  background-color: hsl(243deg, 100%, 62%);
}

.step-3 .add-on-price {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 0.7rem;
  color: hsl(243deg, 100%, 62%);
}

.summary-details, .summary-total {
  position: relative;
  border-radius: 7px;
  padding-inline: 1rem;
}

.summary-details {
  background-color: hsl(231deg, 100%, 99%);
}

.summary-plan {
  border-bottom: solid 1px hsl(229deg, 24%, 87%);
}

.summary-add-ons, .summary-plan {
  padding-block: 1rem;
}

.summary-add-ons {
  padding-bottom: 0;
}

#changePlan {
  border: none;
  background-color: inherit;
  color: hsl(231deg, 11%, 63%);
  text-decoration: underline;
}
#changePlan:hover {
  cursor: pointer;
  color: hsl(243deg, 100%, 62%);
}

.plan-price {
  color: hsl(213deg, 96%, 18%);
  font-weight: 700;
}

.add-on-price {
  color: hsl(213deg, 96%, 18%);
}

.total-price {
  color: hsl(243deg, 100%, 62%);
  font-weight: 900;
}

.step-5 img {
  width: 3.5rem;
  margin: auto;
}

.step-5 .header {
  height: 70%;
  display: flex;
  flex-direction: column;
}
.step-5 .header h2 {
  text-align: center;
}
.step-5 .header .p-intro {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  background-color: hsl(0deg, 0%, 100%);
}
footer button {
  height: 35px;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}
footer button:hover {
  cursor: pointer;
}

.back-button {
  visibility: hidden;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(231deg, 11%, 63%);
}
.back-button:hover {
  color: hsl(213deg, 96%, 18%);
}

.next-button {
  background-color: hsl(213deg, 96%, 18%);
  color: hsl(231deg, 100%, 99%);
}
.next-button:hover {
  background-color: hsl(243deg, 100%, 62%);
}

.attribution {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.5rem;
  bottom: 0;
}
.attribution a {
  color: hsl(243deg, 100%, 62%);
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */